:root {
  --transition-duration: 0.25s;
  --color-grey: #414242;
  --color-primary: #f8f8f8;
  --color-primary-1: #daebeb;
  --color-primary-2: #a7b4b4;
  --color-primary-3: #afafaf;
  --color-primary-4: #263a3a;
  --color-primary-5: #717e7e;
  --color-primary-6: #007070;
  --color-primary-7: #003434a3;
  --color-primary-8: #003838;
  --color-primary-9: #aa0808;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-primary);
  background-color: var(--color-primary-5);
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: 500;
  line-height: 1.15;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 48rem;
  margin-inline: auto;
  padding: 1rem;
}

.heading {
  color: var(--color-primary);
  text-align: center;
  text-shadow: 0 0 0.25rem var(--color-primary);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0;
}

.option {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.1rem 0.8rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(var(--color-primary-3), var(--color-primary-7));
}

.label {
  cursor: pointer;
  flex-shrink: 0;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-align: center;
  background-image: linear-gradient(var(--color-primary-3), var(--color-primary-7));
  box-shadow: 0 0 0.25rem 0.1rem var(--color-primary-2);
}

.title,
.weight {
  padding: 0.5rem;
  border: none;
  line-height: normal;
  color: var(--color-primary);
  appearance: none;
  background-color: var(--color-primary-8);
  outline: none;
  box-shadow: 0 0 0.25rem 0.1rem var(--color-primary-2);
  transition-duration: var(--transition-duration);
  transition-property: box-shadow;
}

.title {
  flex-grow: 1;
  width: 100%;
  min-width: 5rem;
}

.weight {
  max-width: 5rem;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  color: var(--color-primary);
  background-image: linear-gradient(var(--color-primary-3), var(--color-primary-7));
  box-shadow: 0 0 0.15rem 0.1rem var(--color-primary-2);
  transition-duration: var(--transition-duration);
  transition-property: filter, box-shadow, opacity;
}

.wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.wrapper-button {
  width: 100%;
}

.button:hover {
  filter: brightness(1.1);
}

.button:active {
  filter: brightness(1.05);
}

.dialog {
  overflow: unset;
  padding: 0;
  border: unset;
  background: unset;
}

.dialog::backdrop {
  backdrop-filter: blur(0.16rem);
  transition-duration: var(--transition-duration);
  transition-property: backdrop-filter;
}

.container {
  display: grid;
  grid-template: 'textarea textarea' min-content 'cancel confirm' min-content / 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(var(--color-primary-3), var(--color-primary-7));
  box-shadow: 0 0 0.25rem 0.1rem var(--color-primary-2);
}

.textarea {
  resize: none;
  grid-area: textarea;
  padding: 0.5rem;
  font-family: 'Victor Mono', 'Courier New', Courier, monospace;
  color: var(--color-primary);
  background-color: var(--color-primary-8);
}

.cancel {
  grid-area: cancel;
}

.confirm {
  grid-area: confirm;
}

.wrapper-options-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(var(--color-primary-3), var(--color-primary-7));
  box-shadow: 0 0 0.2rem 0.1rem var(--color-primary-2);
}

.warning {
  padding: 1rem;
  color: var(--color-primary);
  text-shadow: 0 0 0.25rem var(--color-primary);
  background-color: var(--color-primary-8);
}

.close-button {
  margin-left: auto;
}

.container-pick {
  display: grid;
  grid-template: 'back-button sound duration-label' 1fr 'pick-button pick-button pick-button' 1fr / 1fr 1fr;
  gap: 0.5rem;
  align-items: flex-start;
  margin-inline: auto;
  transition-duration: var(--transition-duration);
}

.back-button {
  grid-area: back-button;
}

.sound {
  grid-area: sound;
  width: 100px;
}

.sound-input {
  color: var(--color-primary-9);
}

.duration-label {
  cursor: pointer;
  display: flex;
  grid-area: duration-label;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0.25rem;
  color: var(--color-primary);
  background-image: linear-gradient(var(--color-primary-3), var(--color-primary-7));
  box-shadow: 0 0 0.25rem 0.1rem var(--color-primary-2);
}

.duration-input {
  max-width: 3.5rem;
  height: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  line-height: normal;
  color: var(--color-primary);
  appearance: textfield;
  background-color: var(--color-primary-8);
  outline: none;
  box-shadow: 0 0 0.25rem 0.1rem var(--color-primary-2);
  transition-duration: var(--transition-duration);
  transition-property: box-shadow;
}

.pick-button {
  grid-area: pick-button;
}

.no-scroll {
  overflow: hidden;
}

button[disabled],
input[disabled] {
  opacity: 0.4;
}
